<div class="container-fluid justify-content-center">

    <a class="social mx-1" href="mailto:littlemunsterco@gmail.com" style="color: #6c757d" onmouseover="this.style.color='#db4437'" onmouseout="this.style.color='#6c757d'">
      <i class="fas fa-envelope fa-1x"></i>
    </a><a class="social mx-1" href="https://www.github.com/LittleMunster" style="color: #6c757d" onmouseover="this.style.color='#333333'" onmouseout="this.style.color='#6c757d'">
      <i class="fab fa-github fa-1x"></i>
    </a>

</div>